{% extends 'main.html' %}
{% block title %} Django-GPT {% endblock %}

{% block content %}

<div class="h-full mt-20 overflow-hidden py-4">
  <div class="h-full overflow-y-auto">
    <div class="grid grid-cols-12 gap-y-2">
      <div class="col-start-1 col-end-8 p-3 rounded-lg">
        <div class="flex flex-row items-center">
          <div
            class="flex items-center text-white justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
          >
            User
          </div>
          <div
            class="relative ml-3 text-sm bg-white py-2 px-4 shadow rounded-xl"
          >
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel ipsa
              commodi illum saepe numquam maxime asperiores voluptate sit,
              minima perspiciatis.
            </div>
          </div>
        </div>
      </div>
      <div class="col-start-6 col-end-13 p-3 rounded-lg">
        <div class="flex items-center justify-start flex-row-reverse">
          <div
            class="flex items-center text-white justify-center h-10 w-10 rounded-full bg-indigo-500 flex-shrink-0"
          >
           Bot
          </div>
          <div
            class="relative mr-3 text-sm bg-indigo-100 py-2 px-4 shadow rounded-xl"
          >
            <div>I'm ok what about you?</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col items-center">
  <div>
    <textarea
      cols="100"
      placeholder="Write something..."
      class="h-35 w-full my-20 border-2 border-black p-10 text-14 font-sans font-Lato"
    ></textarea>
  </div>
  <button class="bg-green-500 text-white rounded-xl p-2 text-xl">Send</button>
</div> 
{% endblock %}